@import'../variables.scss';
.main-cate-product{
    .container{
        .page-main-cate{
            display: flex;
            margin-bottom: 20px;
            .page-main-left{
                width: 22%;
                border: 1px solid rgba($color: #000000, $alpha: 0.2);
                border-bottom: 6px solid rgba($color: #000000, $alpha: 0.2);
                position: relative;
                .list-category{
                    position: absolute;
                    
                    width: 100%;
                    &:hover{
                        .cate-product{
                            height: 100vh;
                            overflow: none;
                            transform: translateY(12px);
                            top: 100%;
                        }
                        .nav-cate{
                            .ic-angle-down{
                                transform: rotate(180deg);
                            }
                        }
                    }
                    .nav-cate{
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        
                        li{
                            color: white;
                            .ic-nav{
                                font-size: 25px;
                            }
                            .ic-angle-down{
                                transition: all 0.8s;
                                font-size: 25px;
                                transform: rotate(0deg);
                            }
                        }
                    }
    
                   
                    
    
                }
                .category-star-top{
                    border-bottom: transparent;
                    li{
                        padding: 15px 10px;
                        border-bottom: 1px dashed rgba($color: #000000, $alpha: 0.2);
                        font-weight: bold;
                        position: relative;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover{
                            background-color: rgba($color: $primary-color, $alpha: 0.6);
                            color: white;
                            &::before{
                                border: 1px solid white ;
                                border-color: white white transparent transparent;
                            }
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            border: 1px solid black ;
                            border-color: black black transparent transparent;
                            right: 0;
                            // bottom: 50%;
                            transform: translate(-20px,50%) rotate(45deg) ;
                        }
                    }
                }

                .box-widget{
                    border-top: transparent;
                    .title{
                        font-size: 20px;
                        font-weight: bold;
                        &::before{
                            display: none;
                        }
                    }
                    li{                        
                            padding: 15px 10px;
                            border-bottom: 1px dashed rgba($color: #000000, $alpha: 0.2);
                            position: relative;
                            
                        .quantity{
                            font-size: 12px;
                            padding-left: 5px;
                            opacity: 0.5;
                            vertical-align: middle;
                        }
                        
                    }
                }

            }

            .page-main-right{
                width: 78%;
                padding-left: 50px;
                .main-box-product{
                    .title{
                        font-size: 23px;
                        color: $primary-color;
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            width: 100%;
                            border: 1px dashed rgba($color: #000000, $alpha: 0.2);
                            bottom: -10px;
                            
                        }
                    }
                    .list-main-product{
                        padding-top: 30px;
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                            .main-product{
                                margin: 20px;
                                
                            }
                        
                    }
                }
            }

        }
    }
}