@import '../variables.scss';

.modal-loading{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $primary-color;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}