@import '../variables.scss';
.home{
    background-color: #F3F3F3;
    .container{

        .main-top{
            display: flex;
            padding-bottom: 40px;
            .cate-product{
                width: 22%;
                ul{
                   
                    li{
                       background-color: white;
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 10px 10px 20px;
                        border: 1px solid rgba($color: #000000, $alpha: 0.2);
                        border-top: transparent;
                        cursor: pointer;
                        span{
                            font-size: 14px;
                        }
                        .ic{
                            opacity: 0.5;
                        }
                    }
                }
            }

            .list-banner{
                width: 78%;
                height: 556px;
                ul{
                    width: 100%;
                    li{
                        .banner-top
                        {
                            height: 70%;
                            display: flex;
                            .big-banner{
                                width: 70%;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .small-banner{
                                width: 30%;
                                img{
                                    width: 100%;
                                    height: 50%;
                                }
                            }
                        }
                       
                        .banner-bottom{
                            display: flex;
                            width: 100%;
                            height: 154px;
                            img{
                                width: 33.33%;
                                height: 100%;
                            }
                        }

                    }
                }
            }

        }

        .main{
            display: flex;
            .main-left{
                width: 75%;
                .box-content-book{

                    .title{
                        font-size: 20px;
                        font-weight: bold;
                    }
    
                    .box-book{
                        margin-top: 40px;
                        color: white;
                        width: 100%;
                        height: auto;
                        background-color: #f26c63;
                        padding: 40px;
                        .item{
                            display: flex;
                            
                            .image{
                                // width: 1000px;
                                img{
                                    // width: 100%;
                                    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                                    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                                    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                                    
                                }
                            }
                            .content{
                                padding-left: 50px;
                                .name{
                                    font-size: 17px;
                                }
                                .author{
                                    font-size: 14px;
                                    padding-top: 10px;
                                    position: relative;
                                    &::before{
                                        content: '';
                                        position: absolute;
                                        width: 90px;
                                        border: 1px solid white;
                                        height: 0;
                                        bottom: 0px;
                                        transform: translateY(5px);
                                        
                                    }
                                }
                                .description{
                                    font-size: 14px;
                                    padding-top: 25px;
                                    line-height: 1.5;
                                    position: relative;
                                    &::before{
                                        position: absolute;
                                        content: '';
                                        width: 99%;
                                        border: 1px dashed white;
                                        bottom: 0;
                                        transform: translateY(20px);
                                    }
                                }
                                .box-buy{
                                    padding-top: 50px;
                                    // display: flex;
                                    .promotion{
                                        padding: 5px 20px;
                                        background-color: $box-promotion;
                                        border-radius: 5px;
                                        font-size: 15px;
                                        font-weight: bold;
                                    }
                                    .price-old{
                                        padding-left: 30px;
                                        font-size: 14px;
                                        text-decoration: line-through;
                                    }
                                    .price-new{
                                        font-size: 17px;
                                        padding-left: 30px;
                                        padding-right: 30px;
                                    }
                                    button{
                                        margin-left: 272px;
                                        color: white;
                                        padding: 10px 20px;
                                        cursor: pointer;
                                        background-color: $btn-color;
                                        border-radius: 5px;
                                        font-size: 17px;
                                    }
                                }
                            }
                        }
                    }
    
                }
                .box-cate-product{
                    padding-top: 50px;
                    .title{
                       
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 30px;
                        .tit{
                            font-size: 20px;
                            font-weight: bold;
                        }
                        .read-more{
                            cursor: pointer;
                            font-size: 13px;
                            color: $primary-color;
                            &:hover{
                                text-decoration: underline;
                                font-weight: 700;
                            }
                            .ic{
                                color: rgb(95, 93, 93);
                                padding-left: 5px;
                            }
                        }
                    }

                    .list-product{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .product{
                            margin-bottom: 40px;
                        }
                    }
                }
            }

            .main-right{

            }

        }



    }
}

