.info-profile{
    .container{

        .main-profile{
            width:100%;
            height:500px;
            background:
            .title{

            }
            .hello{

            }

            form{
                .input-group{
                    .name{

                    }
                    .mail{

                    }
                    .password{

                    }
                    .re-password{

                    }
                    .birthday{

                    }
                    .gender{

                    }
                }
            }
        }


    }
}